{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 1 version", "Firefox ESR", "ie >= 11"]
        }
      }
    ]
  ],
  "plugins": [
    "./babel-plugin-supercall",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    "@babel/plugin-transform-runtime"
  ]
}
