{
  "parser": "babel-eslint",
  "parserOptions" : {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": [2, 130, 2],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": [
      2, {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}
