$css--plex: true !default;

@import 'carbon-components/scss/components/form/form';

.#{$prefix}-ce--invalid .#{$prefix}--form-requirement {
  max-height: rem(200px);
  display: block;
  color: $support-01;
}
