{
  "parserOptions" : {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "../.eslintrc.js"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-underscore-dangle": 0
  }
}
