name: Deploy carbon-web-components storybook to IBM Cloud

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: yarn install
      - name: Build project
        run: yarn build
      - name: Building carbon-web-components storybook
        run: yarn build-storybook
      - name: Building carbon-web-components storybook (Angular)
        run: yarn build-storybook:angular && cp -r storybook-static-angular storybook-static/angular
      - name: Building carbon-web-components storybook (React)
        run: yarn build-storybook:react && cp -r storybook-static-react storybook-static/react
      - name: Building carbon-web-components storybook (Vue)
        run: yarn build-storybook:vue && cp -r storybook-static-vue storybook-static/vue
      - name: Deploying carbon-web-components storybook to GH pages
        run: ./tools/deploy.sh
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
